{% extends '../base.html' %}
{% load static %}
{% block title %}FAMS | Create Schedule{% endblock title %}

{% block content %}
    <p class="font-bold text-xl text-gray-600">CREATE SCHEDULE</p>
    <p class="text-sm">{{date_today}}</p>
    <div class="flex justify-center items-center">
        <div class="bg-white p-4 rounded-md shadow-xl w-7/12">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p class="text-sm text-red-600 py-2 text-center">{{ message }}</p>
                {% else %}
                    <p class="text-sm text-green-600 py-2 text-center">{{ message }}</p>
                {% endif %}
            {% endfor %}
            <p class="font-bold text-xl text-gray-800 text-center py-2">ADD NEW SCHEDULE DETAILS.</p>
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">EMPLOYEE</label>
                    {{form.employee}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">SUBJECT</label>
                    {{form.subject}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">WEEKDAY</label>
                    {{form.weekday}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">TIME IN (24HRS FORMAT)</label>
                    {{form.time_in}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">TIME OUT (24HRS FORMAT)</label>
                    {{form.time_out}}
                </div>
                <input type="submit" value="ADD" class="my-2 p-2 rounded-md bg-gradient-to-b from-[#7F8B69] to-[#18442D] hover:from-[#52735D] hover:to-[#52735D] font-bold text-white cursor-pointer transition transition-delay-1"/>
            </form>
        </div>
    </div>
    
    <script>
        document.querySelector('input[type="submit"]').addEventListener('click', function() {
            this.disabled = true;
        });
    </script>

{% endblock content %}