{% extends '../base.html' %}
{% load static %}
{% block title %}FAMS | Create Department{% endblock title %}

{% block content %}
<p class="font-bold text-xl text-gray-600">CREATE DEPARTMENT</p>
<p class="text-sm">{{date_today}}</p>
    <div class="flex justify-center items-center">
        <div class="bg-white p-4 rounded-md shadow-xl w-7/12">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p class="text-sm text-red-600 py-2 text-center">{{ message }}</p>
                {% else %}
                    <p class="text-sm text-green-600 py-2 text-center">{{ message }}</p>
                {% endif %}
            {% endfor %}
            <p class="font-bold text-xl text-gray-800 text-center">ADD NEW DEPARTMENT DETAILS.</p>
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">DEPARTMENT NAME (INITIAL)</label>
                    {{form.department_name}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">ADDRESS</label>
                    {{form.address}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">ROOM NUMBER</label>
                    {{form.room_no}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">FLOOR LEVEL</label>
                    {{form.floor}}
                </div>
                <input type="submit" value="Create" class="p-2 rounded-md bg-green-600 font-bold text-white hover:bg-green-500 cursor-pointer"/>
            </form>
        </div>
    </div>

{% endblock content %}