{% extends '../base.html' %}
{% load static %}
{% block title %}FAMS | Create Employee{% endblock title %}

{% block content %}
    <p class="font-bold text-xl text-gray-600">CREATE EMPLOYEE</p>
    <p class="text-sm">{{date_today}}</p>
    <div class="flex justify-center items-center">
        <div class="bg-white p-4 rounded-md shadow-xl w-7/12">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p class="text-sm text-red-600 py-2 text-center">{{ message }}</p>
                {% else %}
                    <p class="text-sm text-green-600 py-2 text-center">{{ message }}</p>
                {% endif %}
            {% endfor %}
            <p class="font-bold text-xl text-gray-800 text-center">ADD NEW EMPLOYEE DETAILS.</p>
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">EMPLOYEE ID</label>
                    {{form.employee_ID}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">FULL NAME</label>
                    {{form.name}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">EMPLOYEE STATUS</label>
                    {{form.employee_status}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">EMPLOYEE POSITION</label>
                    {{form.position}}
                </div>
                <div class="flex flex-col">
                    <label class="text-sm text-gray-500 font-bold">DEPARTMENT</label>
                    {{form.department}}
                </div>
                <input type="submit" value="Add" class="p-2 rounded-md bg-green-600 font-bold text-white hover:bg-green-500 cursor-pointer transition transition-delay-1"/>
            </form>
        </div>
    </div>

{% endblock content %}