{% extends 'base.html' %}
{% block title %}FAMS | Departments{% endblock title %}

{% block content %}
    <p class="font-bold text-xl my-4">Departments</p>
    <div class="flex">
        <p class="px-4 py-2">{{date_today}}</p>
    </div>

    <div class='flex justify-center pt-4'>
        <div class="bg-white rounded-md shadow-xl">
            <table class="border-separate rounded-md shadow-xl">
                <tr class="border boreder-2 bg-green-500 rounded-md text-white">
                    <th class="p-2 rounded-md">DEPARTMENT NAME</th>
                    <th class="p-2 rounded-md">ADDRESS ROOM</th>
                    <th class="p-2 rounded-md">ROOM NUMBER</th>
                    <th class="p-2 rounded-md">FLOOR LEVEL</th>
                    <th class="p-2 rounded-md">DETAIL VIEW</th>

                </tr>
                {% if depts_count < 1 %}
                    <tr>
                        <td colspan="10" class="p-4 text-gray-600 text-sm">No data to show.</td>
                    </tr>
                {% endif %}
                {% for dept in page_obj %}
                <tr class="border boreder-2 hover:bg-gray-200 active:bg-gray-200 transition transition-delay-1 cursor-pointer">
                    <td class="p-2">{{dept.department_name}}</td>
                    <td class="p-2">{{dept.address}}</td>
                    <td class="p-2">{{dept.room_no}}</td>
                    <td class="p-2">{{dept.floor}}</td>
                    <td class="p-2">VIEW</td>
                </tr>
                {% endfor %}
            </table>
            <div class="flex gap-2 items-center mx-2">
                <p class="px-4 py-2 float-left text-md text-green-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                <div class="flex gap-2 justify-end">
    
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Prev</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}