{% extends '../base.html' %}
{% block title %}FAMS | DTR{% endblock title %}

{% block content %}
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("dateInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            console.log(input.value)
        
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
    </script>
    <p class="font-bold text-xl text-gray-600">ATTENDANCE DAILY TIME RECORD</p>
    <p class="text-sm">{{date_today}}</p>
    <div class="p-4">
        {% comment %} <label class="text-gray-600">Export Employee Records</label> {% endcomment %}
        <form method="POST" class="pb-4 pt-2">
            {% csrf_token %}
            <div class="flex justify-center items-center gap-2">
                <label for="date-from">Date from</label>
                <input 
                    type="date" 
                    id="dateFrom" 
                    name="dateFrom" 
                    class="rounded-md" 
                    onkeyup="myFunction()"
                    required 
                />
                <label for="date-to">Date to</label>
                <input 
                        type="date" 
                        id="dateTo" 
                        name="dateTo" 
                        class="rounded-md" 
                        onkeyup="myFunction()"
                        required 
                    />
                <button type="submit" name='export_dtr' class="bg-green-600 hover:bg-green-500 hover:text-white shadow py-2 px-4 rounded-md text-white font-bold transition-delay-1">Export Attendance</button>
            </div>
        </form>
        <div class='flex justify-center pt-4 overflow-x'>
            <div class="bg-white rounded-md shadow-md overflow-x">
                <table class="table-auto overflow-scroll w-full border-separate rounded-md shadow-md">
                    <tr class="border boreder-2 bg-green-500 rounded-md text-white">
                        <th class="p-2 rounded-md">EMPLOYEE ID</th>
                        <th class="p-2 rounded-md">NAME</th>
                        <th class="p-2 rounded-md">WEEKDAY</th>
                        <th class="p-2 rounded-md">TIME IN</th>
                        <th class="p-2 rounded-md">TIME OUT</th>
                        <th class="p-2 rounded-md">TOTAL HOURS</th>
                        <th class="p-2 rounded-md">STATUS</th>
                    </tr>
                    {% if records_count < 1 %}
                        <tr>
                            <td colspan="10" class="p-4 text-gray-600 text-sm">No data to show.</td>
                        </tr>
                    {% endif %}
                    {% for record in page_obj %}
                    <tr class="border boreder-2 hover:bg-gray-200 active:bg-gray-200 transition transition-delay-1 cursor-pointer">
                        <td class="p-2">{{record.employee.employee_ID}}</td>
                        <td class="p-2">{{record.employee.name}}</td>
                        <td class="p-2">{{record.weekday}}</td>
                        <td class="p-2">{{record.time_in}}</td>
                        {% if record.time_out == None %}
                                <td>---</td>
                            {% else %}
                                <td>{{record.time_out}}</td>
                            {% endif %}
                        <td class="p-2">
                            {% if record.time_out == None %}
                                Ongoing
                            {% else %}
                                {{record.total_hours}}
                            {% endif %}
                        </td>
                        <td class="p-2">
                            {% if record.attendance_status == None %}
                                <p>Not implemented before.</p>
                                {% elif record.attendance_status == "LATE" %}
                                    <p class="bg-yellow-500 text-white text-sm font-bold p-2 rounded-md text-center">{{record.attendance_status}}</p>
                                {% else %}
                                    <p class="bg-green-500 text-white text-sm font-bold p-2 rounded-md text-center">{{record.attendance_status}}</p>
                            {% endif %}
                        </td>
                        {% comment %} <td class="p-2">
                            <a href="" class="p-1 bg-blue-600 rounded-md hover:bg-blue-500 transition transition-dalay-1">Check</a>
                        </td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </table>
                <div class="flex gap-2 items-center mx-2">
                    <p class="px-4 py-2 float-left text-md text-green-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                    <div class="flex gap-2 justify-end">
        
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Prev</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}