{% extends 'base.html' %}
{% block title %}FAMS | Login{% endblock title %}

{% block content %}
<div class="">
    <div class="flex flex-col gap-4 justify-center items-center">
        <div class="bg-white p-4 rounded-xl shadow-xl">
            {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="">{{ message }}</p>
            {% else %}
                <p class="">{{ message }}</p>
                {% endif %}
            {% endfor %}
            <h1 class="text-xl font-bold p-2 pb-4">ADMIN LOGIN</h1>
            <form id="myForm" method="POST" class="flex flex-col gap-4 justify-center items-center">
                {% csrf_token %}
                <input type="text" class="rounded-md" id="username" name="username" placeholder="Username" autocapitalize="none" autofocus required>
                <input type="password" class="rounded-md" id="password" name="password" placeholder="password" autocapitalize="none" required>
                <button id="submitButton" type="submit" class="rounded-md hover:bg-green-400 bg-green-500 p-2 text-white font-bold" >Login</button>
            </form>
            <div class="">
                {% comment %} <a href="" class="text-sm cursor-pointer">Forgot password?</a>
                <a href="" class="text-sm cursor-pointer">Doesn't have an account? request one.</a> {% endcomment %}
            </div>        
        </div>
    </div>
</div>
    
{% endblock content %}