{% load static %}
{% with request.resolver_match.url_name as url_name %}
    <div class="hidden md:flex flex-col gap-2 border-r-1 px-2 pb-4 z-20 shadow-xl bg-[#52735D] text-white">
        <a href="{% url 'DTR_Export' %}" class="text-sm font-bold text-white flex flex-col justify-center items-center">
            <div class="text-center py-2">
                <p class="">F A M S V1.0</p>
                <p class="text-sm">FACULTY ATTENDANCE MONITORING SYSTEM</p>
            </div>
            <img src="{% static 'images/sjc_logo2.png' %}" class="w-48 py-2" />
        </a>
        <div class="flex flex-col">
            <label class="font-bold p-2 text-white">ATTENDANCE</label>
            <div class="flex flex-col pl-4 gap-2">
                <a href="{% url 'QRPage' %}" class="{% if url_name == 'QRPage'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">QR Code Scan</a>
                <a href="{% url 'Generate_QR_page' %}" class="{% if url_name == 'Generate_QR_page'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Generate employee QR</a>
            </div>
            <label class="font-bold p-2 text-white">RECORDS</label>
            <div class="flex flex-col pl-4 gap-2">
                <a href="{% url 'DTR_Export' %}" class="{% if url_name == 'DTR_Export'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Attendance Record</a>
                <a href="{% url 'Employee_list' %}" class="{% if url_name == 'Employee_list' or url_name == 'Employee_page' %} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Employee</a>
                <a href="{% url 'Department_list' %}" class="{% if url_name == 'Department_list'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Department</a>
            </div>
            <label class="font-bold p-2 text-white">MANAGE</label>
            <div class="flex flex-col pl-4 gap-2">
                <a href="{% url 'Add_Department_Page' %}" class="{% if url_name == 'Add_Department_Page'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Add Department</a>
                <a href="{% url 'Add_Employee_Page' %}" class="{% if url_name == 'Add_Employee_Page'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Add Employee</a>
                <a href="{% url 'Add_Subject_Page' %}" class="{% if url_name == 'Add_Subject_Page'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Add Subject</a>
                <a href="{% url 'Add_Schedule_Page' %}" class="{% if url_name == 'Add_Schedule_Page'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Add Schedule</a>
            </div>
            <label class="font-bold p-2 text-white">ACCOUNT</label>
            <div class="flex flex-col pl-4 gap-2">
                {% if user.is_authenticated %}
                    {% comment %} <a href="{% url 'Admin_dashboard' %}" class="{% if url_name == 'Admin_dashboard'%} bg-[#355C41] border border-[#18442D] {% endif %} hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Dashboard</a> {% endcomment %}
                    <a href="{% url 'User_logout' %}" class="hover:bg-[#355C41] transition transition-delay-1 rounded-md p-2 text-white text-sm">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}