{% load static %}
<style>
    .loader {
        border-top-color: #3b5998;
        border-left-color: #3b5998;
        border-bottom-color: #3b5998;
        -webkit-animation: spinner 1.5s linear infinite;
        animation: spinner 1.5s linear infinite;
    }
    
    @-webkit-keyframes spinner {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spinner {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<div class="loader-bg fixed top-0 left-0 w-screen h-screen flex items-center justify-center backdrop-blur bg-white/60 z-50">
    <img img src="{% static 'images/sjc_icon.png'%}" style="width: 13em;" class="absolute" />
    <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-64 w-64"></div>
</div>