{% extends 'base.html' %}
{% block title %}FAMS | Generate QR{% endblock title %}

{% block content %}
    <p class="font-bold text-xl my-4">Generate QR</p>
    <div class="flex">
        <p class="px-4 py-2">{{date_today}}</p>
    </div>

    <div class="flex justify-center">
        <form method="POST" class="flex flex-col gap-4 justify-center bg-white p-4 rounded-md shadow-xl">
            <p class="text-xl font-bold">Generate QR Code</p>
            {% csrf_token %}
            <input type="text" placeholder="Employee ID" name="qr_url" class="rounded-md" required/>
            <button type="submit" name="generate_qr" class="bg-green-500 text-white font-bold rounded-md hover:bg-green-400 p-2 transition transition-delay-1">Generate QR Code</button>
        </form>
    </div>
    
    {% if qr_code %}
        <img src="{{ qr_code.url }}">
    {% endif %}
{% endblock content %}